image: baltig.infn.it:4567/dune/sand-ci/sandreco-ci

build:
  stage: build
  script:
    - mkdir build
    - cd build
    - cmake -S .. -B . -DCMAKE_BUILD_TYPE=Debug -DBUILD_DOCUMENTATION=OFF
    - make -j8

  artifacts:
    paths:
      - include/*
      - build/*

# run tests using the binaries built above
test:
  stage: test
  script:
    - cd build
    - make install
    - source /usr/local/bin/geant4.sh
    - ctest --output-on-failure
