build*/
install/
*.idx
.kateproject.build
compile_commands.json
src/common/root/TTreeStreamerLinkdef.h
src/common/root/TTreeStreamerTypes.hpp
src/processes/Geant4_example/events-in-GRAIN_LAr_lv.10.edep-sim.root