build*/
cmake-build-*/
install/
.idea/
*.idx
.kateproject.build
compile_commands.json
src/streamers/**/*_linkdef.h
src/streamers/**/*_types.hpp
.vscode/settings.json
sand-events-in-sand_inner_volume.6.ghep.root
